[submodule "modules/authentication"]
	path = modules/authentication
	url = git@github.com:Video-AI-Midias/authentication-module.git
	branch = main
[submodule "modules/authorization"]
	path = modules/authorization
	url = git@github.com:Video-AI-Midias/authorization-module.git
	branch = main
