[submodule "api/modules/authentication"]
	path = api/modules/authentication
	url = git@github.com:Video-AI-Midias/authentication-module.git
[submodule "api/modules/authorization"]
	path = api/modules/authorization
	url = git@github.com:Video-AI-Midias/authorization-module.git
[submodule "front/modules/authentication"]
	path = front/modules/authentication
	url = git@github.com:Video-AI-Midias/authentication-module.git
[submodule "front/modules/authorization"]
	path = front/modules/authorization
	url = git@github.com:Video-AI-Midias/authorization-module.git
